@model IEnumerable<MVC_EF_DB.Models.Order>
@{
    ViewBag.Title = "MultipleData";
}

<h2>MultipleData</h2>

@foreach(var item in Model)
            {
<ul>
    <li> Order ID : @item.OrderID</li>
    <li> CustomerName : @item.Customer.ContactName</li>
    <li> Employee Last Name : @item.Employee.LastName</li>
    <li> Shipper Name : @item.Shipper.CompanyName</li>
    <li> Order Details :
        <ul>
            @foreach (var o in item.Order_Details)
            {
                <li>Product Id : @o.ProductID</li>
                <li>Quantity : @o.Quantity</li>
                <li>Unit price : @o.UnitPrice</li> 

                @*@Html.DisplayFor(m => o.ProductID)
                @Html.DisplayFor(m => o.Quantity)
                @Html.DisplayFor(m => o.UnitPrice)*@
            }
        </ul>
    </li>
    

</ul>
            }